html {
    width: 95%;
    margin: 0 auto;
    font-size: 14px;
}

/* START */

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    align-content: stretch;
    flex-direction: row;
}

.main * {
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 96%;
}

.wholemenu {
    display: flex;
    flex-basis: 100%;
}

.menu {
    flex: 46%;
    margin: 1%;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: black;
}

.bild {
    width: 100%;
    justify-content: center;
}

.bilddiv {
    flex-basis: 30%;
    justify-content: center;
}

.text h3 {
    width: 100%;
    color: #555555;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.text {
    align-items: left;
    justify-content: center;
    margin: 0 auto;
}

.text p {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
}

.break {
    height: 0;
}

body {
    width: 100%;
    margin: 0 auto;
}

.topline{
    text-align: center;
    background-color: black;
    color:white;
    width: 100%;
    margin-top: -28px;
    height: 1%;
    margin-bottom: -18px;
    font-size: 2rem; 
}

/* NEU */

.main .home .up {
    background-color: rgb(123, 1, 1);
    text-align: center;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.end {
    background-color: black;
}

.home {
    margin-top: 20px;
}

.main .home *{
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    margin: 0 auto;
}


/* 
    Layoutdatei für ein Burger-Menü Oroginal von https://codepen.io/alvarotrigo
    Bearbeitet: Michael Neudert         03.08.2022
*/
/* Layout Standardüberschrift 2 */

  /* Einstellungen für HTML-Elemente (eingeschränkte Vererbung) */

  /* Universale Einstellungen für jedes HTML-Element */

  /* Navigationsleiste einrichten */
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50px;
    padding: 1em;
  }
  /* Standardeinstellung des Menüs */
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* Format für Listeneinträge */
  .menu > li {
    margin: 0 1rem;
    width: 50px;
    overflow: hidden;
  }
  /* Container für das Burger-Menü, wird Standardmäßig
     nicht angezeigt                                   */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*  Menü-Umschalter */
  #menu-toggle {
    display: none;
  }
  /* burger-Menu realisiert nur mit CSS */
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    /* Animation: drehendes burger-menu */
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  /* Positionierung des Burgermenüs */
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  /* Positionierung des Burgermenüs */
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  /* Layout für angeklickte Buttons */
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .rowDesktop, .columnDesktop {
    display: none;
  }

  /* Aktivierung des Burgermenüs bei kleinen Bildschirmen */
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    } 
    .menu {
      display: block;
      position: absolute;
      top: 0;
      margin-top: 120px;
      right: 0px;
      flex-direction: column;
      width: 40%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  .top-nav.menu li a {
      text-decoration: none;
  }

  @media screen and (min-width: 1280px) {
      .menu{
        height: 100%;
        width: 160px; 
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: #111;
        overflow-x: hidden; 
        padding-top: 20px;
      }

      .main {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 160px; 
        padding: 0px 10px;
      }

      .menu a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 17px;
        color: #818181;
        display: block;
      }

    .row, .column {
      display: none;
    }

    .rowDesktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    .columnDesktop {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }

    h3 {
        font-size: 20px;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 1279px) {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }

    h3 {
        font-size: 20px;
    }
  }